/* Import font product sans */
@font-face {
	font-family: ProductSans;
	src: url("./assets/ProductSans-Regular.ttf");
}

/* Reset Style */
*{
	margin: 0px;
	padding: 0px;
	font-family: ProductSans;
	box-sizing: border-box;
	vertical-align: middle;
}