#homepage{
   width: 100%;
   position: absolute;
   top: 55px;
   bottom: 0px;
   color: #2e2e2e;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 55px;
   text-align: center;
}

